<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>账户管理-游客流量监测系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}"/>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js" th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script type="text/javascript" src="js/header.js" th:src="@{/js/header.js}"></script>
<script type="text/javascript" src="js/lt_aside_nav.js" th:src="@{/js/lt_aside_nav.js}"></script>

<script type="text/javascript" src="js/account.js" th:src="@{/js/account.js}"></script>
</head>
<body>
<!--header-->
<header class="header_top">
</header>
<aside class="lt_aside_nav content mCustomScrollbar">
 
</aside>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title"><h2 class="fl">管理员账户管理</h2>
      </div>
 	  <form action="">
 	  	<div class="pwd_text" >
 	  		<span class="item_name" style="width:120px;">旧密码：</span>
 	  		<input id="pwd_old" type="password" class="textbox textbox_225" placeholder="输入旧密码"/>
 	  		<span class="warning" >这里为提示信息</span>
 	  	</div>
 	 	<div   class="pwd_text">
 	 		<span class="item_name" style="width:120px;">新密码：</span>
 	 	 	<input id="pwd_new1" type="password" class="textbox textbox_225" placeholder="输入新密码"/>
 	 	 	<span class="warning">这里为提示信息</span>
 	 	</div>
 	 	<div class="pwd_text"> 
 	 		<span class="item_name" style="width:120px;">确认新密码：</span>
 	 		<input id="pwd_new2" type="password" class="textbox textbox_225" placeholder="再次输入新密码"/>
 	 		<span class="warning">这里为提示信息</span>
 	 	</div>
         <span class="item_name" style="width:120px;"></span>
         <input type="button" value="确认修改" class="group_btn"/>
       </form>
     
  </div>
</section>
</body>
</html>
