<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title> 出错啦！</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="js/jquery.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/header.js"></script>
<script type="text/javascript" src="js/lt_aside_nav.js"></script>



</head>
<body>
<!--header-->
<header class="header_top">

</header>
<!--aside nav-->
<!--aside nav-->
<aside  class="lt_aside_nav content mCustomScrollbar">

</aside>
<!--  -->
<section class="rt_wrap content mCustomScrollbar" style="height: auto;">
 <div class="rt_content">
   
      <div class="errorcont">
        <img alt="errorimg" src="images/error_cry.png">
        <div class="errorinfo">
        <h2>页面出错啦！</h2>
        <p>可能是未找到对应的数据，也可能是操作有误！您可以 <a href="javascript:history.back(-1)">返回上一页</a> 重新试试。</p>
        </div>
        
      </div>
     <footer class="developerinfo">

 		<div class="aboutUs">
 			<ul>
 				<li>关于我们</li>
 				<li>联系我们</li>
 				<li>服务条款</li>
 				<li>隐私协议</li>
 				<li>帮助</li>
 			</ul>
 		</div>
 		<div class="companyName">
 			<p>游客流量监测系统项目组 - 西安电子科技大学<p>
 		</div>
     </footer>
 </div>
</section>

</body>
</html>
