<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>客流预测-游客流量监测系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}" />
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js" th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script type="text/javascript" src="js/header.js" th:src="@{/js/header.js}"></script>
<script type="text/javascript" src="js/lt_aside_nav.js" th:src="@{/js/lt_aside_nav.js}"></script>
<script type="text/javascript" src="js/city-picker.data.js" th:src="@{/js/city-picker.data.js}"></script>
<script type="text/javascript" src="js/city-picker.js" th:src="@{/js/city-picker.js}"></script>
<script type="text/javascript" src="js/city-picker.main.js" th:src="@{/js/city-picker.main.js}"></script>

<script type="text/javascript" src="js/echarts.js" th:src="@{/js/echarts.js}"></script>
<script type="text/javascript" src="js/echarts_flow_forecast.js" th:src="@{/js/echarts_flow_forecast.js}"></script>
</head>
<body>
<!--header-->
<header class="header_top">
</header>
<aside class="lt_aside_nav content mCustomScrollbar">
 
</aside>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
      	<h2 class="fl">实时客流预测查询</h2>
      </div>
 	  <form class="form-inline">
		<div id="distpicker" class="form-group">
			<select  class="select sel_flowtype">
	       		<option value="quantity" >游客数量</option>
	       		<option value="density" >游客密度</option>
	       		<option value="source">游客来源</option>
       		</select>
			<div class="form-group">
				<div style="position: relative;">
					<input id="city-picker3" class="form-control"  type="text" value="陕西省/西安市" data-toggle="city-picker" />
				</div>
			</div>
			<div class="form-group">
				<button class="group_btn" id="reset" type="button">重置</button>
			</div>
			<button class="group_btn query_btn"  type="button">查询</button>
		</div>
	</form>
 	<section class="chart" style="overflow:hidden">
	    <!--柱状图-->
	    <div class="dataStatistic fl">
	   
	     <div id="chart_quantity" class="chart_content chart1">
	     
	     </div>
	     <div id="chart_density" class="chart_content chart2">
	     
	     </div>
	      <div id="chart_source" class="chart_content chart3">
	      
	     </div>
	 
	    </div>
	    
	</section>
   
   </div>
</section>

</body>
</html>
